@import url("https://use.typekit.net/rlm6fdu.css");

h1{
    color:red;
}

.topnav {
    background-color: #03658C;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #F28157;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #F28157;
    color: #03658C;
  }

  .hero {
    height: 70vh;
    background: url(images/header_img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-card {
    text-align: center;
    opacity: 85%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  button {
    padding: 10px 15px;
    border-radius: 25px;
    background: #F28157;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:hover { 
    background: #084862;
    color: white;
    }
  